services:

{{- if eq .Database "postgres" }}
  postgres:
    image: postgres:${POSTGRES_TAG}
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: alfresco
      POSTGRES_DB: alfresco
      PGUSER: alfresco
    command: postgres -c max_connections=300 -c log_min_messages=LOG
    healthcheck:
      test: ["CMD", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        limits:
          cpus: '{{ printf "%.2f" (index .Resources "database").Limits.CPU }}'
          memory: '{{ formatMem (index .Resources "database").Limits.MiB }}'
        reservations:
          cpus: '{{ printf "%.2f" (index .Resources "database").Reservations.CPU }}'
          memory: '{{ formatMem (index .Resources "database").Reservations.MiB }}'
    volumes:
      - postgres-data:/var/lib/postgresql/data
{{- end }}
{{- if eq .Database "mariadb" }}
  mariadb:
    image: mariadb:${MARIADB_TAG}
    environment:
        - MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
        - MYSQL_DATABASE=alfresco
        - MYSQL_USER=alfresco
        - MYSQL_PASSWORD=${DB_PASSWORD}
    command: "
        --character-set-server=utf8
        --collation-server=utf8_bin
        --lower_case_table_names=1
        --max_connections=200
        --innodb-flush-method=O_DIRECT
        --wait_timeout=28800"
    healthcheck:
      test: [ "CMD", "healthcheck.sh", "--connect", "--innodb_initialized" ]
      interval: 10s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        limits:
          cpus: '{{ printf "%.2f" (index .Resources "database").Limits.CPU }}'
          memory: '{{ formatMem (index .Resources "database").Limits.MiB }}'
        reservations:
          cpus: '{{ printf "%.2f" (index .Resources "database").Reservations.CPU }}'
          memory: '{{ formatMem (index .Resources "database").Reservations.MiB }}'
    volumes:
        - mariadb-data:/var/lib/mysql
{{- end }}

  activemq:
    image: docker.io/alfresco/alfresco-activemq:${ACTIVEMQ_TAG}
    environment:
      ACTIVEMQ_ADMIN_LOGIN: ${ACTIVEMQ_ADMIN_USER}
      ACTIVEMQ_ADMIN_PASSWORD: ${ACTIVEMQ_ADMIN_PASSWORD}
    healthcheck:
      test: ["CMD", "curl", "-f", "--user", "${ACTIVEMQ_ADMIN_USER}:${ACTIVEMQ_ADMIN_PASSWORD}", "http://localhost:8161/admin"]
      interval: 10s
      timeout: 5s
      retries: 5
    deploy:
      resources:
        limits:
          cpus: '{{ printf "%.2f" (index .Resources "activemq").Limits.CPU }}'
          memory: '{{ formatMem (index .Resources "activemq").Limits.MiB }}'
        reservations:
          cpus: '{{ printf "%.2f" (index .Resources "activemq").Reservations.CPU }}'
          memory: '{{ formatMem (index .Resources "activemq").Reservations.MiB }}'
    volumes:
      - activemq-data:/opt/activemq/data

  transform-core-aio:
    image: docker.io/alfresco/alfresco-transform-core-aio:${TRANSFORM_TAG}
    environment:
      ACTIVEMQ_URL: nio://activemq:61616
      ACTIVEMQ_USER: admin
      ACTIVEMQ_PASSWORD: ${ACTIVEMQ_ADMIN_PASSWORD}
      JAVA_OPTS: >-
        -Dserver.tomcat.threads.min=4        
        -Dserver.tomcat.threads.max=12
        -XX:MinRAMPercentage=50
        -XX:MaxRAMPercentage=80
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8090/actuator/health"]
      interval: 30s
      timeout: 10s
      retries: 3
    deploy:
      resources:
        limits:
          cpus: '{{ printf "%.2f" (index .Resources "transform-core-aio").Limits.CPU }}'
          memory: '{{ formatMem (index .Resources "transform-core-aio").Limits.MiB }}'
        reservations:
          cpus: '{{ printf "%.2f" (index .Resources "transform-core-aio").Reservations.CPU }}'
          memory: '{{ formatMem (index .Resources "transform-core-aio").Reservations.MiB }}'
    depends_on: 
      activemq:
        condition: service_healthy

  alfresco:
    image: docker.io/alfresco/alfresco-content-repository-community:${REPO_TAG}
    environment:
      JAVA_TOOL_OPTIONS: >-
        -Dencryption.keystore.type=JCEKS
        -Dencryption.cipherAlgorithm=DESede/CBC/PKCS5Padding
        -Dencryption.keyAlgorithm=DESede
        -Dencryption.keystore.location=/usr/local/tomcat/shared/classes/alfresco/extension/keystore/keystore
        -Dmetadata-keystore.password=${METADATA_KEYSTORE_PASSWORD}
        -Dmetadata-keystore.aliases=metadata
        -Dmetadata-keystore.metadata.password=${METADATA_KEYSTORE_METADATA_PASSWORD}
        -Dmetadata-keystore.metadata.algorithm=DESede
      JAVA_OPTS: >-
        -Dalfresco.host=${SERVER_NAME}
        -Dalfresco.port={{ .Port }}
        -Dshare.host=${SERVER_NAME}
        -Dshare.port={{ .Port }}
        -Dalfresco_user_store.adminpassword={{ .AdminPassword }}
        -Ddb.password=${DB_PASSWORD}
{{- if eq .Database "postgres" }}
        -Ddb.driver=org.postgresql.Driver
        -Ddb.url=jdbc:postgresql://postgres:5432/alfresco
{{- end }}        
{{- if eq .Database "mariadb" }}
        -Ddb.driver=org.mariadb.jdbc.Driver
        -Ddb.url=jdbc:mysql://mariadb/alfresco?useUnicode=yes\&characterEncoding=UTF-8
{{- end }}
        -Dsolr.host=solr6
        -Dsolr.secureComms=secret
        -Dsolr.sharedSecret=${SECURE_COMMS_SECRET}
        -Dindex.subsystem.name=solr6
        -Dcsrf.filter.enabled=false
        -Dmessaging.broker.url="failover:(nio://activemq:61616)?timeout=3000&jms.useCompression=true"
        -DlocalTransform.core-aio.url=http://transform-core-aio:8090/
{{- if .UseFtp }}
        -Dftp.enabled=true
        -Dftp.port=2121
        -Dftp.externalAddress=${SERVER_NAME}
        -Dftp.bindto=${BIND_IP_FTP:-0.0.0.0}
        -Dftp.dataPortFrom=2433
        -Dftp.dataPortTo=2434 
{{- end }}
        -Ddeployment.method=DOCKER_COMPOSE
        -XX:MinRAMPercentage=50
        -XX:MaxRAMPercentage=80
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/alfresco/api/-default-/public/alfresco/versions/1/probes/-ready-"]
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 1m
    deploy:
      resources:
        limits:
          cpus: '{{ printf "%.2f" (index .Resources "alfresco").Limits.CPU }}'
          memory: '{{ formatMem (index .Resources "alfresco").Limits.MiB }}'
        reservations:
          cpus: '{{ printf "%.2f" (index .Resources "alfresco").Reservations.CPU }}'
          memory: '{{ formatMem (index .Resources "alfresco").Reservations.MiB }}'
    depends_on: 
{{- if eq .Database "postgres" }}
      postgres:
{{- end }}
{{- if eq .Database "mariadb" }}
      mariadb:
{{- end }}
        condition: service_healthy
      activemq:
        condition: service_healthy
      transform-core-aio:
        condition: service_healthy
    volumes:
      - alf-repo-data:/usr/local/tomcat/alf_data
{{- if eq .Database "mariadb" }}
      - ./libs/mariadb-java-client-2.7.4.jar:/usr/local/tomcat/webapps/alfresco/WEB-INF/lib/mariadb-java-client-2.7.4.jar
{{- end }}

  solr6:
    image: docker.io/alfresco/alfresco-search-services:${SEARCH_TAG}
    environment:
      SOLR_ALFRESCO_HOST: "alfresco"
      SOLR_ALFRESCO_PORT: "8080"
      SOLR_SOLR_HOST: "solr6"
      SOLR_SOLR_PORT: "8983"
      SOLR_CREATE_ALFRESCO_DEFAULTS: "alfresco"
      ALFRESCO_SECURE_COMMS: "secret"
      JAVA_TOOL_OPTIONS: >-
        -Dalfresco.secureComms.secret=${SECURE_COMMS_SECRET}
    deploy:
      resources:
        limits:
          cpus: '{{ printf "%.2f" (index .Resources "solr6").Limits.CPU }}'
          memory: '{{ formatMem (index .Resources "solr6").Limits.MiB }}'
        reservations:
          cpus: '{{ printf "%.2f" (index .Resources "solr6").Reservations.CPU }}'
          memory: '{{ formatMem (index .Resources "solr6").Reservations.MiB }}'
    depends_on:
      alfresco:
        condition: service_healthy
    volumes:
      - solr-data:/opt/alfresco-search-services/data

  share:
    image: docker.io/alfresco/alfresco-share:${SHARE_TAG}
    environment:
      REPO_HOST: "alfresco"
      REPO_PORT: "8080"
      CSRF_FILTER_REFERER: "http://${SERVER_NAME}:{{ .Port }}/.*"
      CSRF_FILTER_ORIGIN: "http://${SERVER_NAME}:{{ .Port }}"
      JAVA_OPTS: >-
        -XX:MinRAMPercentage=50
        -XX:MaxRAMPercentage=80
        -Dalfresco.host=localhost
        -Dalfresco.port=8080
    deploy:
      resources:
        limits:
          cpus: '{{ printf "%.2f" (index .Resources "share").Limits.CPU }}'
          memory: '{{ formatMem (index .Resources "share").Limits.MiB }}'
        reservations:
          cpus: '{{ printf "%.2f" (index .Resources "share").Reservations.CPU }}'
          memory: '{{ formatMem (index .Resources "share").Reservations.MiB }}'
    depends_on: 
      alfresco:
        condition: service_healthy

  content-app:
    image: docker.io/alfresco/alfresco-content-app:${CONTENT_APP_TAG}
    environment:
      APP_BASE_SHARE_URL: "http://${SERVER_NAME}:{{ .Port }}/content-app/#/preview/s"
      APP_CONFIG_PLUGIN_PROCESS_SERVICE: false
    deploy:
      resources:
        limits:
          cpus: '{{ printf "%.2f" (index .Resources "content-app").Limits.CPU }}'
          memory: '{{ formatMem (index .Resources "content-app").Limits.MiB }}'
        reservations:
          cpus: '{{ printf "%.2f" (index .Resources "content-app").Reservations.CPU }}'
          memory: '{{ formatMem (index .Resources "content-app").Reservations.MiB }}'
    depends_on: 
      alfresco:
        condition: service_healthy

  control-center:
    image: quay.io/alfresco/alfresco-control-center:${CONTROL_CENTER_TAG}
    environment:
      APP_CONFIG_PROVIDER: "ECM"
      APP_CONFIG_AUTH_TYPE: "BASIC"
      BASE_PATH: ./
      APP_CONFIG_PLUGIN_LEGAL_HOLD: false
    deploy:
      resources:
        limits:
          cpus: '{{ printf "%.2f" (index .Resources "control-center").Limits.CPU }}'
          memory: '{{ formatMem (index .Resources "control-center").Limits.MiB }}'
        reservations:
          cpus: '{{ printf "%.2f" (index .Resources "control-center").Reservations.CPU }}'
          memory: '{{ formatMem (index .Resources "control-center").Reservations.MiB }}'
    depends_on: 
      alfresco:
        condition: service_healthy

  proxy:
    image: docker.io/library/nginx:stable-alpine
    deploy:
      resources:
        limits:
          cpus: '{{ printf "%.2f" (index .Resources "proxy").Limits.CPU }}'
          memory: '{{ formatMem (index .Resources "proxy").Limits.MiB }}'
        reservations:
          cpus: '{{ printf "%.2f" (index .Resources "proxy").Reservations.CPU }}'
          memory: '{{ formatMem (index .Resources "proxy").Reservations.MiB }}'
    depends_on:
      share:
        condition: service_started
      content-app:
        condition: service_started
      control-center:
        condition: service_started
      alfresco:
        condition: service_started
    volumes:
      - ./config/nginx.conf:/etc/nginx/nginx.conf        
    ports:
      - ${BIND_IP_NGINX:-0.0.0.0}:{{ .Port }}:{{ .Port }}

volumes:
  activemq-data:
{{- if eq .Database "postgres" }}
  postgres-data:
{{- end }}
{{- if eq .Database "mariadb" }}
  mariadb-data:
{{- end }}
  alf-repo-data:
  solr-data: